<div
  class="tab-pane fade"
  id="profile"
  role="tabpanel"
  aria-labelledby="profile-tab"
>
  <div class="card shadow mb-4 mt-2">
    <div class="card-body">
      <div class="form-group">
        <label for="name">Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          placeholder="Input Title"
        />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input
          type="number"
          class="form-control"
          name="price"
          placeholder="Input Price"
        />
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          name="city"
          placeholder="Input City"
        />
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select name="" id="" class="form-control">
          <option value="">Pilih Category</option>
        </select>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input
          type="file"
          class="form-control"
          name="image"
          placeholder="Input image"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          name="description"
          class="form-control"
          id="description"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
